@model _100DaysOfCode_ASP_MVC.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            @if (Model.rutaImagen != "NoDisponible")
            {
                <img src='@Url.Action("GetImagen", "Producto", new { imagen = Model.rutaImagen })' width="100px" height="100px" />
            }
            else
            {
                <img width="100px" height="100px" />
                    <span>No Disponible</span>
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="imagen" value="@Model.rutaImagen" />
            <button class="btn btn-default" data-toggle="modal" data-target="#modal">Delete</button>
            @Html.ActionLink("Back to List", "Index", "Producto", null, new { @class = "btn btn-default"} )
        </div>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modalLabel">Mensaje del sistema</h4>
                        </div>
                        <div class="modal-body">
                            Esta acción no podrá deshacerse ¿Desea continuar?
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Delete" class="btn btn-default" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
